{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
    {{ block "title" . }}<title>{{if .Title}}{{.Title}}{{else}}Marvin Web Interface{{end}}</title>{{ end }}
    {{ block "default-styles" . -}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"
          integrity="sha384-I6F5OKECLVtK/BL+8iSLDEHowSAfUo76ZL9+kGAgTRdiByINKJaqTPH/QVNS1VDb" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">
    {{- end }}
    {{ block "styles" . }}{{ end }}
<script>
function getCSRFToken() {
    return fetch("/session/csrf.json", {mode: 'same-origin', credentials: 'same-origin'}).
        then(function(resp) { return resp.json(); }).
        then(function(resp) { return resp.token; });
}
function postData(url, data, options) {
    if (!options) options = {};
    if (!data) data = {};
    if (!options.headers) options.headers = new Headers();
    if (!options.method) options.method = 'POST';
    if (!options.credentials) options.credentials = 'same-origin';
    return getCSRFToken().then(function(csrfToken) {
        options.headers.set('X-CSRF-Token', csrfToken);
        options.body = Object.keys(data).map(function (k) {
            return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]);
        }).join('&');
        return fetch(url, options);
    });
}
function doLogout() {
    postData("/session/destroy", {}, {method: 'DELETE'}).then(function() {
        document.location.reload();
    });
}
</script>
</head>
<body>
{{ block "navbar" . -}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Marvin</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        {{ with . }}{{ $current := .NavbarCurrent }}{{ range .NavbarItems }}
            {{ if eq .Name $current -}}
            <li class="active"><a href="{{.URL}}">{{.Name}}</a></li>
            {{- else -}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{- end }}
        {{ end }}{{ end }}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{ if .DCurrentUser.IntraLogin -}}
            <li>
                <!-- This might be wrong -->
                <img height="32" src="https://cdn.intra.42.fr/users/medium_{{.DCurrentUser.IntraLogin}}.jpeg" />
                <a href="/user">{{.DCurrentUser.IntraLogin}}</a>
            </li>
            <li>
                <a href="/session/destroy" id="logout-form" onclick="doLogout(); return false;"><i class="fa fa-power-off"></i></a>
            </li>
            {{- else -}}
            <li><a href="{{.StartIntraURL}}">Intra Log In</a></li>
            {{- end }}
        </ul>
    </div>
    </div>
</nav>
{{- end }}
{{ with $global := . }}{{ block "content" .BodyData }}
<h1>Missing content!</h1>
{{ end }}{{ end }}
</body>
</html>
{{ end }}
