{{define "styles"}}
<style>
    .m-channel {
        margin-right: 0;
        margin-left: 0;
        background-color: #eee;
        border: 1px inset #333;
        border-radius: 6px;
        margin-top: 5px;
    }
    .m-channel-wrap {
        position: relative;
        padding: 15px;
    }
    .m-channel h3 {
        margin-top: 0;
        font-size: 24px;
    }
    .join-btn {
        position: absolute;
        top: 1rem;
        right: 15px;
        text-transform: lowercase;
    }
    .m-channel .meta {
        font-style: italic;
    }
    .m-channel .message {
        font-size: 18px;
    }
</style>
{{end}}
{{define "content"}}
<div class="container">
<div class="page-header">
    <h1>Private Channels</h1><small>Join up here!</small>
</div>
    <div class="bs-callout bs-callout-info">
        <h4>Creating Invites</h4>
        <p>To add your private channel to this page, first invite @marvin and say (for example):</p>
        <p><code>@marvin make-invite :soccer: #random Futbol! Arrange games, talk about soccer</code></p>
        <p>Marvin will post a message to the channel you specified (<code>#random</code>) and people can join in one of two ways:</p>
        <ol><li>Sending an emoji reaction on Slack will invite them to the channel.</li>
        <li>The channel will appear on this page, and people can click the button to be invited.</li></ol>
    </div>

<section>
    {{ range .Channels }}
    <div class="m-channel card card-block" data-id="{{.ID}}">
        <div class="m-channel-wrap">
        <h3>{{.Name}}</h3>
        <span class="join-btn">
        {{ if $.NotLoggedIn -}}
            <a class="btn btn-default" data-interact="1">Log In First</a>
        {{- else -}}
        {{- if and $.HaveJoinData .Available -}}
            <a class="btn btn-primary" data-interact="1"><i class="fa fa-slack"></i> Join Channel</a>
        {{- else -}}
        {{- if $.HaveJoinData -}}
            <a class="btn btn-default disabled"><i class="fa fa-slack"></i> Already Joined</a>
        {{- else -}}
            <a class="btn btn-warning" data-interact="1">Check Failed - <i class="fa fa-slack"></i> Click to Join</a>
        {{- end -}}
        {{- end -}}
        {{- end }}
        </span>
        <p class="meta">@{{.UserName}} created invite on {{reltime .Timestamp}}</p>
        <p class="message">{{.Text}}</p>
        </div>
    </div>
    {{ end }}
</section>
</div>
<div id="placeholders" style="display:none">
    <div id="placeholder-join-available">
        <a class="btn btn-primary" data-interact="1"><i class="fa fa-slack"></i> Join Channel</a>
    </div>
    <div id="placeholder-join-login">
        <a class="btn btn-default" data-interact="1">Log In First</a>
    </div>
    <div id="placeholder-join-pending">
        <a class="btn btn-default disabled"><i class="fa fa-spin fa-spinner"></i> Working…</a>
    </div>
    <div id="placeholder-join-finished">
        <a class="btn btn-info"><i class="fa fa-slack"></i> Joined</a>
    </div>
    <div id="placeholder-join-unknown">
        <a class="btn btn-warning" data-interact="1">Check Failed - <i class="fa fa-slack"></i> Click to Join</a>
    </div>
    <div id="placeholder-join-error">
        <a class="btn btn-danger" data-interact="1">Error (check console)</a>
    </div>
    <div id="placeholder-join-alreadyjoined">
        <a class="btn btn-default disabled"><i class="fa fa-slack"></i> Already Joined</a>
    </div>
</div>
<script>
var startLoginURL = {{js .Layout.StartSlackURL}};
var needLogin = {{if or (false) (.NotLoggedIn)}}true{{else}}false{{end}};
function buttonClick(evt) {
    var spanEl = evt.delegateTarget;
    var divEl = spanEl.parentElement.parentElement;
    var channelID = divEl.dataset.id;

    if (needLogin) {
        document.location = startLoginURL;
        return;
    }
    var $aEl = $(spanEl).find('a');
    if (!$aEl[0].dataset.interact) {
        return;
    }

    spanEl.innerHTML = document.getElementById('placeholder-join-pending').innerHTML;
    postData('/invites/' + channelID, {join: true}).then(function(resp) {
        return resp.json();
    }).then(function(json) {
        if (!json['ok'])
        {
            spanEl.innerHTML = document.getElementById('placeholder-join-error').innerHTML;
            console.log("Error:", json);
        }
        else if (json.data && json.data.already_joined)
        {
            spanEl.innerHTML = document.getElementById('placeholder-join-alreadyjoined').innerHTML;
        }
        else
        {
            spanEl.innerHTML = document.getElementById('placeholder-join-finished').innerHTML;
        }
    }, function(err) {
        spanEl.innerHTML = document.getElementById('placeholder-join-error').innerHTML;
        console.log(err);
    });
}
$('.join-btn').on('click', buttonClick);
</script>
{{end}}