{{define "styles"}}
<style>
.instructions {
    text-align: center;
    font-size: 18px;
}
.instructions pre {
    font-size: 22px;
}
.btn-giant {
    font-size: 150%;
    line-height: 150%;
}
</style>
{{end}}
{{define "content"}}
<div class="container">
<div class="page-header">
    <h1>Authenticate with Slack</h1>
</div>
    {{if .LoginIntraFirst }}
    <div class="instructions">
        <p>You cannot use this until you have <a href="{{ $.Layout.StartIntraURL }}"><b>logged in with Intra</b></a>.</p>
        <p><a class="btn btn-primary btn-giant" href="{{ $.Layout.StartIntraURL }}">Log In With Intra</a></p>
    </div>
    {{else}}
    {{if .AlreadyComplete }}
    <div class="instructions">
        <p>You are already logged in. If you were sent here by a permission prompt, contact your Slack admins.</p>
    </div>
    {{else}}
    <div class="instructions">
        <p>To associate your Intra login with a Slack user, as Slack usernames can change and OAuth is not available (contact your Slack admins for more information), you will instead send a random code in a message.</p>
        <h3>Your Code:</h3>
        <pre><code>@marvin web-authenticate {{.RandomToken}} {{.RedirectB64}}</code></pre>
        <p><small>This token is valid for twenty minutes.</small></p>
        <p><a class="btn btn-primary btn-giant" href="https://42schoolusa.slack.com/messages/@marvin/">Click Here and Paste</a></p>
        <p>When you are done, reload this tab.</p>
    </div>
    {{end}}
    {{end}}
</div>
{{end}}