{{define "styles"}}
<style>

</style>
{{end}}
{{define "content"}}
<div class="container">
<div class="page-header">
    <h1>Factoid: <code>{{.Factoid.FactoidName}}</code> {{if .Factoid.IsLocked}}<i class="fa fa-lock"></i>{{end}}</h1>
</div>

    {{with .Factoid}}
    <p>Last edit: {{user_link $ .LastUser}}
        in {{channel_link $ .LastChannel}}
        {{reltime .LastTimestamp}} - <a href="{{archive_href $ .LastChannel .LastMessage}}">Slack Archive</a>
    {{if $.Layout.CurrentUser}}<span id="edit-factoid" class="btn btn-default" style="float:right"><i class="fa fa-pencil"></i> Edit</span>{{end}}</p>
    <div style="clear:both"></div>

    <pre id="primary-source" class="source"><code>{{.RawSource}}</code></pre>
    {{end}}

    <h2>History</h2>

<div class="history-container">
{{range .History}}
    <div class="factoid {{if .IsForgotten}}forgotten{{end}}">
        <div class="meta">
            <p>Revision: {{.DbID}} {{if .IsForgotten}}<span class="muted">(deleted)</span>{{end}}
        by {{user_link $ .LastUser}}
        in {{channel_link $ .LastChannel}}
        {{reltime .LastTimestamp}} &ndash; <a href="{{archive_href $ .LastChannel .LastMessage}}">Slack Archive</a></p>
        </div>
        <pre class="source"><code>{{.RawSource}}</code></pre>
    </div>
{{end}}
</div>
</div>
<script>
    var isEditing = false;
    var isSaving = false;
    var textarea = null;
$(document.getElementById("edit-factoid")).click(function() {
    var $editButton = $('#edit-factoid');
    if (!isEditing) {
        var $source = $('#primary-source');
        var curText = $source.text();
        var newTextarea = document.createElement('textarea');
        newTextarea.value = curText;
        newTextarea.setAttribute('contenteditable', '');
        newTextarea.setAttribute('id', 'primary-source');
        newTextarea.classList.add('factoid-edit');
        textarea = newTextarea;
        $source.replaceWith(newTextarea);
        $editButton.removeClass('btn-default');
        $editButton.addClass('btn-primary');
        $editButton.html('<i class="fa fa-check"></i> Save');
        isEditing = true;
    } else {
        if (isSaving) return;

        textarea.setAttribute('disabled', '');
        $editButton.removeClass('btn-primary');
        $editButton.addClass('btn-default');
        $editButton.html('<i class="fa fa-spin fa-spinner"></i> Saving...');
        isSaving = true;
        postData('/factoids/{{.ScopeChannelURL}}/{{.Factoid.FactoidName}}/edit', {raw: textarea.value}).then(function(resp) {
            isSaving = false;
            var $source = $('#primary-source');
            var newPre = document.createElement('pre');
            var newCode = document.createElement('code');
            newPre.appendChild(newCode);
            newCode.textContent = textarea.value;
            newPre.setAttribute('id', 'primary-source');
            newPre.classList.add('source');
            $source.replaceWith(newPre);
            $editButton.html('<i class="fa fa-pencil"></i> Edit');
            isEditing = false;
            window.location.reload();
        });
    }
});
</script>
{{end}}