{{define "content"}}
<div class="container">
    <div class="page-header">
        <h1>Home</h1><small>is where the heart is</small>
    </div>

    <p>This is the web interface for Marvin.</p>
    <h2><a href="/factoids">Factoids</a></h2>
    <p>View source, history, and audit logs for factoids.</p>
    <h2><a href="/logs">Logs</a></h2>
    <p>View old logs of the Slack channels past the 10k message limit.<br>
        To view private channels, you must be signed in with Slack.</p>
    <h2><a href="/invites">Private Channel Invitations</a></h2>
    <p>Select and join "public" private channels here!</p>
    <h2>More to come</h2>
    <ul>
        <li>Log in with Intra to get Slack PMs when you have a correction</li>
        <li><a href="http://wiki.electorama.com/wiki/Maximize_Affirmed_Majorities">MAM</a> polling</li>
    </ul>
</div>
{{end}}