{{define "styles"}}
{{template "styles-box"}}
<style>
.fullpage-dialog-container .m-channel {
    max-width: 500px;
}
</style>
{{end}}
{{define "content"}}
<div class="fullpage-dialog-container">
    {{ range .Channels }}
        {{ template "invite-box" . }}
    {{ end }}
</div>
<!-- TODO give this a common template file between the two -->
<div id="placeholders" style="display:none">
    <div id="placeholder-join-available">
        <a class="btn btn-primary" data-interact="1"><i class="fa fa-slack"></i> Join Channel</a>
    </div>
    <div id="placeholder-join-login">
        <a class="btn btn-default" data-interact="1">Log In First</a>
    </div>
    <div id="placeholder-join-pending">
        <a class="btn btn-default disabled"><i class="fa fa-spin fa-spinner"></i> Working…</a>
    </div>
    <div id="placeholder-join-finished">
        <a class="btn btn-info"><i class="fa fa-slack"></i> Joined</a>
    </div>
    <div id="placeholder-join-unknown">
        <a class="btn btn-warning" data-interact="1">Check Failed - <i class="fa fa-slack"></i> Click to Join</a>
    </div>
    <div id="placeholder-join-error">
        <a class="btn btn-danger" data-interact="1">Error (check console)</a>
    </div>
    <div id="placeholder-join-alreadyjoined">
        <a class="btn btn-default disabled"><i class="fa fa-slack"></i> Already Joined</a>
    </div>
</div>
<script>
    var startLoginURL = {{js .Layout.StartSlackURL}};
    var needLogin = {{if (.NotLoggedIn)}}true{{else}}false{{end}};
    function buttonClick(evt) {
        var spanEl = evt.delegateTarget;
        var divEl = spanEl.parentElement.parentElement;
        var channelID = divEl.dataset.id;

        if (needLogin) {
            document.location = startLoginURL;
            return;
        }
        var $aEl = $(spanEl).find('a');
        if (!$aEl[0].dataset.interact) {
            return;
        }

        spanEl.innerHTML = document.getElementById('placeholder-join-pending').innerHTML;
        postData('/invites/' + channelID, {join: true}).then(function(resp) {
            return resp.json();
        }).then(function(json) {
            if (!json['ok'])
            {
                spanEl.innerHTML = document.getElementById('placeholder-join-error').innerHTML;
                console.log("Error:", json);
            }
            else if (json.data && json.data.already_joined)
            {
                spanEl.innerHTML = document.getElementById('placeholder-join-alreadyjoined').innerHTML;
            }
            else
            {
                spanEl.innerHTML = document.getElementById('placeholder-join-finished').innerHTML;
            }
        }, function(err) {
            spanEl.innerHTML = document.getElementById('placeholder-join-error').innerHTML;
            console.log(err);
        });
    }
    // with jquery
    $('.join-btn').on('click', buttonClick);
    //// no jquery
    //document.querySelectorAll(".join-btn").forEach(function(el) {
    //    el.addEventListener('click', function(evt) {
    //        evt.delegateTarget = el;
    //        return buttonClick(evt);
    //    });
    //});
</script>
{{end}}
