{{define "styles-box"}}
<style>
.m-channel {
    margin: 5px 3px;
    flex-basis: calc(50% - 6px);
    flex-grow: 1;

    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.m-channel-wrap {
    position: relative;
    padding: 15px;
}
.m-channel h3 {
    margin-top: 0;
    font-size: 24px;
}
.join-btn {
    position: absolute;
    top: 1rem;
    right: 15px;
    text-transform: lowercase;
}
.m-channel .meta {
    font-style: italic;
}
.m-channel .message {
    font-size: 18px;
}
.member-count {
    font-size: 14px;
    color: #888888;
}
.slack-link {
    font-size: 14px;
}
.anchor {
    position: absolute;
    top: -60px;
}
</style>
{{end}}
{{define "invite-box"}}
    <div class="m-channel" data-id="{{.ID}}">
        <div class="m-channel-wrap">
        <div id="{{.NameAnchor}}" class="anchor"></div>
        <h3><a class="invite-link" href="/invites/{{.ID}}">{{.Name}}</a> <span class="member-count"><i class="fa fa-user"></i> {{.MemberCount}}</span>
            <a class="slack-link" href="https://{{.G.Layout.Team.Domain}}.slack.com/messages/{{.ID}}"><i class="fa fa-slack"></i> open in Slack</a>
        </h3>
        <span class="join-btn">
        {{ if .G.NotLoggedIn -}}
            <a class="btn btn-default" data-interact="1">Log In First</a>
        {{- else -}}
        {{- if and .G.HaveJoinData .Available -}}
            <a class="btn btn-primary" data-interact="1"><i class="fa fa-slack"></i> Join Channel</a>
        {{- else -}}
        {{- if .G.HaveJoinData -}}
            <a class="btn btn-default disabled"><i class="fa fa-slack"></i> Already Joined</a>
        {{- else -}}
            <a class="btn btn-warning" data-interact="1">Check Failed - <i class="fa fa-slack"></i> Click to Join</a>
        {{- end -}}
        {{- end -}}
        {{- end }}
        </span>
        <p class="meta">{{user_link .G.Layout .User}} created invite {{reltime .Timestamp}}</p>
        <p class="message">{{.Text}}</p>
        <p class="purpose">{{.Purpose}}</p>
        </div>
    </div>
{{end}}
